In [1]:
list1 = [1,2,3,4.5,5.5,"maths","python",True,False]
list1

[1, 2, 3, 4.5, 5.5, 'maths', 'python', True, False]

#### task 3 is to go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

In [23]:
list2 = list1.copy()
list2

[1, 2, 3, 4.5, 5.5, 'maths', 'python', True, False]

In [19]:
#Removing an element
list2.remove(True)
list2

[2, 3, 4.5, 5.5, 'maths', 'python', False]

In [20]:
#Counting the number of times a particular element has occurred
list2.count(3)

1

In [25]:
#Clearing the complete sequence 
list2.clear()
list2

[]

In [37]:
list4 = [1,3,2,4.5,5.5,"maths","python",True,False]

list3 = list4.copy()
list3

[1, 3, 2, 4.5, 5.5, 'maths', 'python', True, False]

In [38]:
list5 = list3[0:5].copy()
list5

[1, 3, 2, 4.5, 5.5]

In [43]:
#arranging all integers in ascending order
list5.sort()
print(list5)

[1, 2, 3, 4.5, 5.5]

In [42]:
#reversing the elements of a list
list5.reverse()
print(list5)

[5.5, 4.5, 3, 2, 1]