tup1 = (1,2,3,4.4,5.5,True,False,"Maths","Python")
tup1

#### converting tuple into list

In [2]:
list=list(tup1)
list

[1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Python']

#### Adding an element

In [3]:
list.insert(-1,'Data')
list

[1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Data', 'Python']

In [4]:
list.append('Science')
list

[1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Data', 'Python', 'Science']

#### Removing an element

In [5]:
list.pop(-2)
list

[1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Data', 'Science']

#### Coverting list into tuple

In [6]:
tup1=tuple(list)
tup1

(1, 2, 3, 4.4, 5.5, True, False, 'Maths', 'Data', 'Science')

#### length

In [8]:
len(tup1)

10

#### indexing

In [9]:
tup1.index(3)

2

#### To check a perticular value is present

In [14]:
print(30 in tup1)

False

#### slicing

In [15]:
tup1[2:7:2]

(3, 5.5, False)

#### counting the number of times a paticular element is present in a tuple

In [13]:
tup1.count('Data')

1

#### Joining 2 tuples

In [18]:
tup1 = (3,54.5,6,7)
tup2 = ('west','north','east')
tup3 = tup1 + tup2
tup3

(3, 54.5, 6, 7, 'west', 'north', 'east')